* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensure body takes up at least the full viewport height */
  margin: 0;
}

main {
  flex: 1;
  /* Allow the main content to grow and take up remaining space */
}

a {
  color: black;
  cursor: pointer;
}

a:hover {
  color: black;
  opacity: 1;
}

.btn{
  border-radius: 10px;
  background-color: green;
  color: white;
  margin: 0 8px;
  padding: 2px 15px;
  cursor: pointer;
}


.input-field{
  border-radius: 10px;
  flex-grow: 1;
}

/* home page - posts*/

p{
  color:black;
}
.user-new-post {
  margin: 20px 0;
  border-radius: 10px;
  padding: 20px;
  background: rgb(139, 169, 139);
}

/* new post */
#new-post {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.new-input-box {
  border-radius: 10px;
  width: 800px;

}

.create-post {
  margin: 0 8px;
  padding: 2px 15px;
}


/* all posts */

.others-posts {
  display: flex;
  flex-direction: column;
}
.post{
    display: flex;
    flex-direction: column
}
.part{
  flex:1;
}

.user-profile img {
  width: 48px;
  height: auto;
  border-radius: 50%; /* Make it circular */
}
.user-profile-big img {
  width: 64px;
  height: auto;
  border-radius: 50%; /* Make it circular */
}
.user-profile p {
  display:inline-block;
  padding-left: 10px;
}
.user-profile h4 {
  display:inline-block;
  
}

.content {
  font-size: 18px;
  line-height: 1.5;
  padding: 10px 0;
}

/* Style for post metadata (like date) */
.metadata {
  font-size: 14px;
  color: #888;
  padding: 0 12px;
  display: inline-block;
}

.metadata a{
  font-size: 14px;
  color: #888;
  display: inline-block;
}

.icons{
  color:forestgreen;
  font-size: 16px;
  padding-left: 0px;
}
.icons ion-icon{
  color:forestgreen;
  font-size: 16px;
  padding-left: 0px;
  vertical-align: middle;
}



.icons a{
  color:forestgreen;
  display: inline-block;
  font-size: 16px;
  padding-left: 0px;
}

/* comments on post show page */
#add-comment-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.post-time{
  padding-left: 0px;
  align-items: flex-start;
}

.time{
  display: inline-block;
}

.del-btn{
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
}


/* update post */
#edit-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


/* My profile page */
h4{
  padding-left: 12px;;
}



/* My plant collection page */

#collection-title {
  display: inline-block;
}


/* for create a new collection */
#create-new-collection {
  display: inline-block;
  margin: 0 8px;
  padding: 2px 15px;
}


/* modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
}

.form-group label {
  flex-basis: 100px;
  margin-right: 10px;
}

/* boards */
.board-collections{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.board-container{
  padding: 20px;
}

.board-cover {
  border: 2px solid green;
  border-radius: 24px;
}

.photo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.board-text {
  color:#000;
  padding: 5px 0;
}

.board-text p{
  text-align: left;
}


/* for adding a new plant */
.title-container {
  display: flex;
  align-items: center; 
}

.title-container h2 {
  margin: 0;
  margin-right: 10px; 
}

.title-container form {
  margin: 0; 
}

#new-form {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.form-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.plant-info-row {
  margin-bottom: 15px;
}

.plant-info-row label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.plant-info-row input,
.plant-info-row select,
.plant-info-row {
  margin-bottom: 15px;
}

.plant-info-row label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.plant-info-row input,
.plant-info-row select,
.plant-info-row textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.plant-info-row textarea {
  height: 100px;
}

.native-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.native-row label {
  margin-bottom: 0;
  margin-right: 20px;
  font-weight: bold;
}

.plant-info-row p{
  text-align: start;
}