* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensure body takes up at least the full viewport height */
  margin: 0;
}

main {
  flex: 1;
  /* Allow the main content to grow and take up remaining space */
}

a {
  color: black;
  cursor: pointer;
}

a:hover {
  color: black;
  opacity: 1;
}


/* home page - posts*/

p{
  color:black;
}
.user-new-post {
  margin: 50px 0;
  border-radius: 10px;
  padding: 20px;
  background: rgb(139, 169, 139);


}
/* new post */
#new-post {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.new-input-box {

  width: 800px;

}

.create-post {
  margin: 0 8px;
  padding: 2px 15px;
}


/* all posts */

.others-posts {
  display: flex;
  flex-direction: column;
}
.post{
    display: flex;
    flex-direction: column
}
.part{
  flex:1
}

#user-profile img {
  height: 36px;
  border-radius: 50%; /* Make it circular */
}
#user-profile p {
  display:inline-block;
  padding-left: 10px;
}
#post-content {
  font-size: 18px;
  line-height: 1.5;
  padding: 5px 0;
}
/* Style for post metadata (like date) */
.metadata {
  font-size: 14px;
  color: #888;
  padding: 0 12px;
  display: inline-block;
}

.icons{
  color:forestgreen;
  font-size: 16px;
  padding-left: 0px;
}

.icons a{
  color:forestgreen;
  display: inline-block;
  font-size: 16px;
  padding-left: 0px;
}

.post-time{
  padding-left: 0px;
  align-items: flex-start;
}

/* My plant collection page */

#collection-title {
  display: inline-block;
}

#create-new-collection {
  display: inline-block;
  margin: 0 8px;
  padding: 2px 15px;
}

#add-a-new-plant {
  display: inline-block;
  margin: 0 8px;
  padding: 2px 15px;
}