<%- include('../partials/header') %>
<h2 id="collection-title">My Plant Collections</h2>
<button id='create-new-collection' type="sumbit">Create a new collection</button>
<button id="add-a-new-plant" type="sumbit">Add a new plant</button>
<%- include('../partials/footer') %>