<!-- to show requested users profile page -->
<%- include('../partials/header') %>
<section class="user-info">
    <div>
        <img alt="avatar" src="<%= userProfile.userAvatar %>">
    </div>
    <div>
        <%=userProfile.userName%>
    </div>
    <div>
        <!-- to be added users posts and public plant collections -->
    </div>

<%- include('../partials/footer') %>