<%- include('../partials/header') %>

    <form id="edit-form" action="/posts/<%= post._id %>?_method=PUT" method="POST">

        <textarea class="new-input-box input-field" type="text" name="content"><%= post.content %></textarea>

        <button class="btn" type="submit">Update</button>
    </form>

<%- include('../partials/footer') %>