<%- include('../partials/header') %>

<!-- where user to create new post -->
<div class="user-new-post">
    <form id="new-post" action="/home" method="POST">
        <input class = "new-input-box" type="text" name="content" placeholder="Share your thoughts on plantings">
        <input class="create-post" type="submit" value="Post"> 
    </form>
</div>

<!-- where to show others posts/either followed or random popular posts -->


<%- include('../partials/footer') %>