<%- include('../partials/header') %>
<div class="title-container">
    <h2><%= plantCollection.collectionName %></h2>
    <form action="" method="POST">
        <button class="create-btn btn" type="submit">Edit</button>
    </form>
</div>

<%- include('../partials/footer') %>