<%- include('../partials/header') %>
<div class="title-container">
    <h2><%= plantCollection.collectionName %></h2>
    <form action="">
        <button class="create-btn btn" type="submit">Add a new plant</button>
    </form>
</div>

<%- include('../partials/footer') %>